@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.dropdown-buttons {
  display: flex;
  align-items: center;
  gap: 30px;
}
button {
  padding: 15px 30px;
  background-color: #ffff;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}
.btn {
  border: none;
  border-radius: 10px;
  background-color: #1e40af;
  color: #ffff;
}

button:hover {
  background-color: #ffff;
  color: #1e40af;
  border: solid 1px #1e40af;
}
@media only screen and (max-width: 500px) {
  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }

  button {
    width: 150px;
    padding: 10px 0;
    background-color: #ffff;
    border: none;
    font-size: 1rem;
    cursor: pointer;
  }
  .btn {
    border: none;
    border-radius: 10px;
    background-color: #1e40af;
    color: #ffff;
  }

  button:hover {
    background-color: #ffff;
    color: #1e40af;
    border: solid 1px #1e40af;
  }
  .dropdown-buttons {
    padding: 10px 29px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }
}
